.gc-login {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-color: var(--datav-panel-title-bg);
  background-position: center;
  overflow: hidden;
  &__bd {
    position: relative;
    width: 360px;
    max-width: 100%;
    padding: 180px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }
  &__title {
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 0;
    &--copyright {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: #fff;
    }
    &--options {
      font-size: 12px;
      line-height: 12px;
      text-align: center;
    }
  }
  .ant-input-affix-wrapper {
    border-color: rgba(0, 199, 255, 0.4);
  }
}
