.ant-layout-footer {
  padding: 15px 50px 24px;
}

.ant-tree-list {
  font-size: 13px;
}

.silder-tree {
  .ant-tree .ant-tree-treenode {
    padding: 5px 0 7px 5px;
  }
}

.gc-design__hd--setting {
  .ant-space {
    justify-content: flex-end;
  }
}

.gc-design__setting {
  .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
    width: 50px;
    white-space: initial;
  }
}

.field-flex__control {
  .ant-radio-group .ant-radio-wrapper {
    display: block;
    padding: 3px 0;
  }
}
