*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--datav-font-color);
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
  overflow-y: auto;
}

html {
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  text-decoration: none;
  outline: none;
  background-color: transparent;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

button,
select {
  border: none;
  text-transform: none;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
}

canvas {
  width: 100%;
  height: 100%;
}

#datav-ui-root {
  width: 100%;
  height: 100%;
}

@import "./var.less";
@import "./antd-design.less";
